.custom-h3 {
  color: black;
}

.carousel-inner>.carousel-item>.view>img {
  width: 540px;
  height: 500px;
}

div.carousel-item:nth-child(5)>div:nth-child(2)>h3:nth-child(1) {
  color: white;
}

div.carousel-item:nth-child(5)>div:nth-child(2) {
  color: white;
}